[submodule "Semester_3/AI_Methods_and_Tools_for_Automatic_Control/MLC_Workshop_04012023/OpenMLC-MATLAB-2"]
	path = Semester_3/AI_Methods_and_Tools_for_Automatic_Control/MLC_Workshop_04012023/OpenMLC-MATLAB-2
	url = C:/Users/Akash/OpenMLC-MATLAB-2
